<% layout('layout') -%>

<div id="main">
</div>

<!-- Balance -->
<script type="text/html" id="template-balance-list-view">
  <h2>Balance</h2>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th class="balance-amount">Amount</th>
	      <th>Description</th>
	    </tr>
	  </thead>
	  <tbody id="balance-list"> </tbody>
	</table>
</script>

<script type="text/html" id="template-balance-item-view">
  <td class="balance-amount">{{total.formatted}}</td>
  <td>{{account.fullname}}</td>
</script>

<script type="text/html" id="template-null-item-view">
</script>