<% layout('layout') -%>

<div id="main">
  <div class="jumbotron">
    <h1>Ledger Web</h1>
    <p class="lead">Your financial dashboard.</p>
    
    <hr />
    <div class="row-fluid">
      <div class="span3">
        <h2>Income</h2>
        <p>Compared to expenditure</p>
        <p>Over time</p>
        <p>By Category</p>        
      </div>
      
      <div class="span3">
        <h2>Spending</h2>
        <p>Over time</p>
        <p>By Category</p>
      </div>
      
      <div class="span3">
        <h2>Net Worth</h2>
      </div>
      
      <div class="span3">
        <h2>Balance</h2>
        <p>By account</p>
      </div>
    </div>
  </div>
</div>

<!-- Home -->
<script type="text/html">  
</script>

<!-- Income -->
<script type="text/html" id="template-income-chart-view">
  <div id="chart">
    <svg style="height: 700px; width: 1000px"> </svg>
  </div>
  
  <div>
    <ul id="filter"> </ul>
  </div>
</script>

<script type="text/html" id="template-income-chart-filter-item-view">
  <li>{{payee}}</li>
</script>

<!-- Balance -->
<script type="text/html" id="template-balance-list-view">
  <h2>Balance</h2>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th class="balance-amount">Amount</th>
	      <th>Description</th>
	    </tr>
	  </thead>
	  <tbody id="balance-list"> </tbody>
	</table>
</script>

<script type="text/html" id="template-balance-chart-view">
  <div id="chart">
    <svg style="height: 700px; width: 1000px"> </svg>
  </div>
  
  <div>
    <ul id="filter"> </ul>
  </div>
</script>

<script type="text/html" id="template-balance-chart-filter-item-view">
  <li>{{account.shortname}}</li>
</script>

<script type="text/html" id="template-balance-item-view">
  <td class="balance-amount">{{total.formatted}}</td>
  <td>{{account.fullname}}</td>
</script>

<script type="text/html" id="template-null-item-view">
</script>

<% block('script', "$(function() { Ledger.start(); });") -%>