<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ledger web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/vendor/nv.d3.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <div id="nav" class="navbar">
      </div>
      
      <div class="row-fluid">
        <%- body %>
      </div>
    </div>

    <script data-main="/js/ledger/main" src="/js/vendor/require.js"></script>

    <script type="text/javascript">
      <%- blocks.script %>
    </script>
  </body>
</html>